body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1220;
  color: #e5e7eb;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav h1 {
  color: #38bdf8;
}

nav a {
  color: #94a3b8;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 48px;
  color: #38bdf8;
}

.hero p {
  color: #94a3b8;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  color: black;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.05);
}

/* FEATURES */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 40px;
}

.card {
  background: #020617;
  padding: 25px;
  border-radius: 12px;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  color: #64748b;
}
